<a href="https://colab.research.google.com/github/BrandonBosire/PROJECT-8/blob/main/PROJECT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ASSESSMENT:

Nairobi Hospital conducted a clinical camp to test for hypothyroidism. The data collected focused on Thyroid patients.

The dataset created can be found [here](http://bit.ly/hypothyroid_data)

### Identifying the question

#### a) Specifying the Question
Build a model that determines whether or not the patient's symptoms indicate that the patient has hypothyroid.

#### b) Defining the Metric for Success

Creation of a decsion tree based or SVM based model that can predict hyperthyroidism to an accuracy score (f1) of 85%.

#### c) Understanding the context 
The dataset here gives the values of the variables associated with hyperthyroidism based on data collected from patients interviewd at the clinical drive. This is together with the test results for hyperthyroidism of each.

#### d) Recording the Experimental Design

Below is the expected flow of our work:

 - Data Cleaning and Preparation:
   - Load libraries and dataset
   - Deal with missing values
   - Deal with duplicated records

 - Perform EDA
   - Univariate Analysis
   - Bivariate Analysis

 - Model creations:

   - Decision Trees:
     - Random Forest
     - Ada Boosted Trees

   - Support Vector Machines:
     - Feature engineering

     - Polynomial Kernel
     - Radial Bias Function Kernel
     - Sigmoid Kernel

     - Feature importance plots (Two features)
     - Hyper parameter tuning of the best model

#### e) Data Relevance
These are the variables at play in our dataset. We will be using them for the creation of the models:

- Age - Age of respondent
- Sex - Gender of respondent
- on_thyroxine - Status of thyroxine intake
- query_on_thyroxine 
- on_antithyroid_medicationthyroid_surgery - Status of thyroid surgery medication intake

- query_hypothyroid
- query_hyperthyroid
- pregnant - Pregnancy status
- sick - Health status
- tumor - Presence of tumor
- lithium - Lithium status
- goitre - Goitre status
- TSH_measured
- TSH
- T3_measured
- T3
- TT4_measured
- TT4

In [2]:
#Importing our libraries
#
import pandas as pd
import numpy as np

In [4]:
#Loading our data
#
df=pd.read_csv('/content/hypothyroid (1).csv')
df.head()

        status age sex on_thyroxine  ... FTI_measured FTI TBG_measured TBG
0  hypothyroid  72   M            f  ...            y  10            n   ?
1  hypothyroid  15   F            t  ...            y  17            n   ?
2  hypothyroid  24   M            f  ...            y   0            n   ?
3  hypothyroid  24   F            f  ...            y   6            n   ?
4  hypothyroid  77   M            f  ...            y  44            n   ?

[5 rows x 26 columns]

In [5]:
#Identifying dataframe columns
#
df.columns

Index(['status', 'age', 'sex', 'on_thyroxine', 'query_on_thyroxine',
       'on_antithyroid_medication', 'thyroid_surgery', 'query_hypothyroid',
       'query_hyperthyroid', 'pregnant', 'sick', 'tumor', 'lithium', 'goitre',
       'TSH_measured', 'TSH', 'T3_measured', 'T3', 'TT4_measured', 'TT4',
       'T4U_measured', 'T4U', 'FTI_measured', 'FTI', 'TBG_measured', 'TBG'],
      dtype='object')

In [ ]:
#